<%
// load menu options and contacts from content
const menu = _.cms('menu') || {}
const header = _.cms('header') || {}
const contacts = _.cms('contacts') || {}

// some social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3b5998'],
  ['youtube', '#ff0000'],
  ['instagram', '#e1306c'],
  ['twitter', '#1da1f2']
]
%>

<aside id="menu" class="menu shadow">
  <nav class="accordion" id="accordion-menu">
    <button
      class="menu__btn menu__btn--close btn"
      type="button"
      onclick="toggleSidenav()"
      aria-label="Toggle Side Navigation"
    >
      <i class="i-times"></i>
    </button>

    <div class="menu__list">
      <% header.contacts_stripe.pages.forEach(({ link, title }) => { %>
        <a href="<%= link %>" class="menu__item">
          <%= title %>
        </a>
      <% }) %>
    </div>
  </nav>

  <footer class="menu__footer">
    <% if (menu.phone_wpp) { %>
      <div class="menu__phone">
        <% if (contacts.whatsapp) { %>
          <a
            href="javascript:;"
            target="_blank"
            rel="noopener"
            class="whatsapp-link"
            data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
          >
            <i class="i-whatsapp mr-1"></i>
            <%= contacts.whatsapp %>
          </a>
        <% } else if (contacts.phone) { %>
          <a
            href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
            target="_blank"
            rel="noopener"
          >
            <i class="i-phone mr-1"></i>
            <%= contacts.phone %>
          </a>
        <% } %>
      </div>
    <% } %>

    <% if (menu.socials) { %>
      <div class="menu__social">
        <% networksWithColors.forEach(([network, color]) => { %>
          <% if (contacts[network]) { %>
            <a
              href="<%= contacts[network] %>"
              target="_blank"
              rel="noopener"
              aria-label="<%= network %>"
              style="color: <%= color %>"
            >
              <i class="i-<%= network %>"></i>
            </a>
          <% } %>
        <% }) %>
      </div>
    <% } %>
  </footer>
</aside>
  
